<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a href="index.html" class="navigation-links1-navlink">
      <span>All Tasks</span>
    </a>
    <a href="task-1.html" class="navigation-links1-navlink1">
      <span>Task-1</span>
    </a>
    <a href="task-2.html" class="navigation-links1-navlink2">
      <span>Task-2</span>
    </a>
    <a href="task-3.html" class="navigation-links1-navlink3">
      <span>Task-3</span>
    </a>
    <a href="task-4.html" class="navigation-links1-navlink4">
      <span>Task-4</span>
    </a>
  </nav>
</div>
